


/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(82, 60%, 28%);
   --title-color: hsl(0, 0%, 15%);
   --text-color: hsl(0, 0%, 35%);
   --body-color: hsl(0, 0%, 95%);
   --container-color: hsl(0, 0%, 100%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Poppins', sans-serif;
   --h2-font-size: 1.20rem;
   --small-font-size: .813rem;

   // Responsive typography
   @media screen and (min-width: 1120px){
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
   }
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: var(--body-font);
	background-color: var(--body-color);
	color: var(--text-color);

  background-position: center center;

}
.fundo{
  
  
  background-repeat: no-repeat;
  background-position: center center;


}

img{
	display: block;
	max-width: 100%;
	height: auto;
}


@media screen and (max-width: 340px){
    .container{
       margin-inline: 1rem;
    }
 
    .card__data{
       width: 250px;
       padding: 1rem;
    }
 }
 
 
 @media screen and (min-width: 768px){
    .card__container{
       grid-template-columns: repeat(2, 1fr);
       column-gap: 1.5rem;
    }
 }
 
 @media screen and (min-width: 1120px){
    .container{
       height: 100vh;
    }
 
    .card{
       &__container{
          grid-template-columns: repeat(1, 4fr);
       }
       &__img{
          width: 348px;
       }
       &__data{
          width: 316px;
          padding-inline: 2.5rem;
       }
    }
 }


/*=============== CARD ===============*/
.container {
 
    
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
    margin-top: 100px;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
    
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
    z-index: 2;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 15s 5s;
    z-index: 2;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    z-index: 2;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
 
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .5s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 3s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      z-index: 2;
      height: 100vh;
    }
  
    .card__container {
      z-index: 2;
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
}


/* codigo telefone segunda pagina */


.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.active{
  background: red;
  color: red;
  color: blueviolet;
}




.navbar .Accueil {
  color: white;
  font-size: 2em; 
  font-weight: bold; 
}

.navbar .nav-links ul {
  display: flex;
}







.navbar .nav-links ul li a { 
  margin: 0 25px;
 
}


.navbar .nav-links ul li .active a { 
 
  color: rgb(136, 14, 14);
  font-weight: 25px;

}


.navbar .menu-hamburguer {
  width: 35px;
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
}


@media screen and (max-width: 900px) {
  .navbar {
      padding: 0;
  }

  .navbar .Accueil {
      position: absolute;
      top: 50px;
      left: 50px;
  }

  .navbar .menu-hamburguer {
      display: block;
  }
  
header  {
  height: 100vh;
  width: 100%;
  background-image: url(/imagens/tela-grande.jpg);
  background-size: cover;
  background-repeat: no-repeat;



}

  

  .nav-links {
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(255, 174, 0, 0.137);
      width: 100%;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(2px);
      margin-left: -100%;
      transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
      margin-left: 0;
  }

  .nav-links ul {
      flex-direction: column;
      display: flex;
      align-items: center;
  }

  .navbar .nav-links ul li {
      margin: 10px 0;
      font-size: 1.2em;
  }

 

 .active:hover {
   
  color: rgb(145, 43, 43);

  
   
}

}